<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">SSS Bilgileri</h3>
                    <button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#modal-lg">
                        SSS Ekle
                    </button>
                </div>
                <div class="card-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Question</th>
                                <th>Answer</th>
                                <th>İşlemler</th>
                            </tr>
                        </thead>
                        <tbody style="text-align: center;">
                            @if (Model != null)
                            {
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="align-middle">@(item.Question.Length > 50 ? item.Question.Substring(0, 50) + "..." : item.Question)</td>
                                        <td class="align-middle">@(item.Answer.Length > 80 ? item.Answer.Substring(0, 80) + "..." : item.Answer)</td>
                                        <td class="project-actions text-right align-middle">
                                            <div style="text-align: center;">
                                                <button type="button" class="btn btn-success btn-xs btnShow" url="/admin/FFaq/View/" vId="@item.Id">
                                                    <i class="fa fa-eye">
                                                    </i>
                                                    Göster
                                                </button>
                                                <button type="button" class="btn btn-info btn-xs btnEdit" url="/admin/FFaq/Edit/" vId="@item.Id">
                                                    <i class="fas fa-pencil-alt">
                                                    </i>
                                                    Düzenle
                                                </button>
                                                <button type="button" class="btn btn-danger btn-xs btnDelete" url="/admin/FFaq/Delete/" vId="@item.Id" itemTitle="@item.Question">
                                                    <i class="fas fa-trash">
                                                    </i>
                                                    Kaldır
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Question</th>
                                <th>Answer</th>
                                <th>İşlemler</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>